extends layout

block content
	br
	h1#itemlistHeader Forms listings
	//- Pull in documents called userlist in route file
	//- For each user extract information and print
	.container
		ul.list-group
			each item, i in formslist
				li.list-group-item
					.row
						.col-md-2
						.col-md-3
							h5 Organization name:
							p=item.name
						.col-md-2
						.col-md-3
							h5 Organization email:
							p=item.email
					.row
						.col-md-2
						.col-md-3
							h5 Organization number:
							p=item.number
						.col-md-2
						.col-md-3
							h5 Organization location:
							p=item.location
					.row
						.col-md-2
						.col-md-3
							h5 Organization website:
							p=item.website
						.col-md-2
						.col-md-3
							h5 Organization location:
							p=item.date
					.row
						.col-md-2
						.col-md-3
							a(href="/delete/Forms/#{item.id}")
								.btn.btn-danger Delete post
						.col-md-3
						.col-m3-3
							a(href="/edit/Forms/#{item.id}")
								.btn.btn-info Edit post

				br