extends layout
block content
	script(src='../js/mapScript.js')

	// Banner place to change image
	.banner(style='background-image: url(../images/banner/home.jpg);')
		.banner_text Search results
	.container
		.sub_text
			p#searchtitle.lead This is what we have for you!
	hr

	#listings.container-fluid
		.row
			.col-md-5
				each item, i in searchresults
					#listing.panel.panel-default
						.panel-heading.collapse-button
							h3.name.panel-title=item.name
						.panel-body.panel-collapse.collapse
							table.table.table-responsive.table-hover
								tbody
									tr
										td.details-control
											h5 Website: 
											p=item.website
											h5 Services:
											p=item.services
											h5 Requirements to get aid: 
											p=item.requirements
											h5 Hours of operation: 
											p=item.hours
											h5 Address: 
											p#location.location=item.location
											h5 Phone Number: 
											p=item.number
											center
												img#imgURL(src=item.imageURL)
			.col-md-7
				input#search.controls(type="text" placeholder="Enter your home address")
				#mapholder(style="width:100%;height:600px;")